.gradle
build
.idea/shelf
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/modules
.idea/gradle.xml
.idea/dictionaries
*.iml
*.jar
!gradle/wrapper/gradle-wrapper.jar
bin
docs
test-results
src/main/kotlin/reaktive/collection/collection_bindings.html
src/main/kotlin/reaktive/collection/mk_bindings.bat